h1{
    color: blue;
    text-align: center;
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} 

h2{
    color: red;
    text-align: center;
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} 
